* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  background-color: #fcfcfc;
}

body,
h1,
p {
  margin: 0;
}

.wrapper {
  max-width: 101rem;
  padding: 0 1rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin: 2.25rem 0;
}

h1 {
  color: #4c4c4c;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

input {
  width: 19.1rem;
  max-width: calc(50% - 1rem);
  height: 3.325rem;
  padding-left: 1rem;
  border: solid #dfdfdf 0.2rem;
  border-radius: 1rem;
}

input::placeholder {
  font-style: italic;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 31.5rem));
  gap: 2.25rem;
  margin-bottom: 2.25rem;
}

.card {
  display: flex;
  background-color: #fff;
  overflow: hidden;
  padding: 0.25rem;
  border: solid #dfdfdf 0.2rem;
  border-radius: 0.5rem;
}

.card:hover {
  opacity: 0.5;
}

img {
  min-width: 12.5rem;
  padding: 1.5rem;
  border-radius: 50%;
}

address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #83898d;
  font-style: normal;
  line-height: 1.75;
}

.employee-name {
  color: #404a51;
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  color: #83898d;
  text-decoration: none;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #00000080;
}

.modal {
  position: absolute;
  width: 33.25rem;
  height: 39.5rem;
  text-align: center;
  top: 10.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  padding: 0 3rem;
  border-radius: 0.5rem;
}

.left-triangle,
.right-triangle {
  position: absolute;
  color: lightgrey;
  font-size: 8rem;
  cursor: pointer;
  transition-duration: 0.25s;
}

.left-triangle {
  top: 50%;
  left: 0;
  transform: translate(0, -60%);
}

.right-triangle {
  bottom: 50%;
  right: 0;
  transform: translate(0, 40%);
}

.left-triangle:hover,
.right-triangle:hover {
  color: #404a51;
}

.modal img {
  padding: unset;
}

.modal .modal-upper-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 66.5%;
}

.modal-upper-section .modal-close {
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  padding-right: 0.5rem;
}

.additional-info {
  display: flex;
  justify-content: center;
  height: 33.5%;
  border-top: solid #83898d 0.1rem;
}

.additional-info address {
  line-height: 2.3;
  padding-bottom: 0.5rem;
}