:root {
  font-size: 62.5%;;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  background-color: #fcfcfc;
}

body,
h1,
p {
  margin: 0;
}

main {
  max-width: 101rem;
  margin: 0 auto;
}

h1 {
  color: #4c4c4c;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 4.5rem;
  margin-bottom: 2.75rem;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.card {
  display: flex;
  background-color: #fff;
  padding: 0.25rem;
  border: solid #dfdfdf 0.2rem;
  border-radius: 0.5rem;
}

img {
  width: 9rem;
  padding: 1.5rem;
  border-radius: 50%;
}

address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #83898d;
  font-style: normal;
  line-height: 1.75;
}

.employee-name {
  color: #404a51;
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  color: #83898d;
  text-decoration: none;
}